body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.discription-color {
    color: #a5a5a5;
}

.heading-1 {
    font-size: 30px;
    font-weight: 600;
}

.heading-2 {
    font-size: 40px;
    font-weight: 700;
}

.secondary-btn {
    margin-left: 10px;
    background-color: aqua;
    color: black;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}

.secondary-btn:hover {
    background-color: orange;
    color: white;
    transition-duration: 0.5s;
}

.primaru-btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}

.primaru-btn:hover {
    background-color: aqua;
    color: black;
    transition-duration: 0.5s;
}


/* nav related style */
header {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icon img {
    width: 50px;
}

.nav-icon span {
    color: orange;
    font-size: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;

}

.nav-btn {
    background-color: #c0c1c3;
    padding: 7px 10px;
    border-radius: 6px;
}

/* banner related */
.banner-section {
    max-width: 1200px;
    margin: 0 auto;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-img {
    width: 100%;
    height: 90vh;
}

/* main */
main {
    max-width: 1200px;
    margin: 0 auto;
}

/* main */

/* gammaer section */
.gammer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin: 100px 0;
}

.gammer-img {
    width: 50%;
}

.gammer-img img {
    width: 100%;
}

.gammer-discription {
    width: 50%;
}

/* vedio section */
.vedio-section {
    margin: 100px 0;
}

.vedio-discription {
    text-align: center;
    margin-bottom: 70px;
}

.vedio-discription h1 {
    font-size: 35px;
}

.vedio-contaner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.vedio-card img {
    width: 100%;
}


/* Instant download section */
.instand-download-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    margin: 100px 0;
}

.instant-heading {
    font-size: 40px;
    font-weight: 700;
}

.instant-discription {
    color: #a5a5a5;
}

.instant-text {
    width: 50%;
    text-align: right;
}


.instant-img-area {
    width: 50%;
}

.instant-img {
    width: 100%;
}

/* play-section-container */
.play-section-container {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.play-img {
    width: 50%;
}

.play-img img {
    width: 100%;
}

.play-text {
    width: 50%;
}

.carear-section {
    background-color: #db9b5b;
    padding: 30px 0px;
}

.carear-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 0 170px;
}

.carear-discription {
    width: 50%;
}

.carear-img {
    width: 50%;
}

.carear-img img {
    width: 100%;
}

.devided-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Brand section */
.brand-area{
    max-width: 1200px;
    margin: 0 auto;
}

.margin-area{
    margin: 100px 0;
}
.simpple-container{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
}

.brand-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


/* Responsive for mobile device */
@media screen and (max-width: 576px) {

    /* nav related */
    nav {
        flex-direction: column;
    }

    /* banner related */
    .banner-container {
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }

    .gammer-container {
        flex-direction: column-reverse;
        padding: 0 1rem;
    }

    .gammer-img {
        width: 100%;
    }

    .gammer-img img {
        width: 100%;
    }

    .gammer-discription {
        width: 100%;
    }

    /* vedio section */
    .vedio-contaner {
        display: flex;
        flex-direction: column;
    }

    /* instant section */
    .instand-download-section {
        flex-direction: column;
        padding: 0 1rem;
        gap: 20px;
    }

    .instant-text {
        width: 100%;
        text-align: center;
    }

    .instant-img-area {
        width: 100%;
        position: relative;
    }

    .instant-img {
        width: 100%;

    }

    /* play-section-container */
    .play-section-container {
        flex-direction: column;
        gap: 20px;
        padding: 0 1rem;
    }

    .play-img {
        width: 100%;
    }

    .play-img img {
        width: 100%;
    }

    .play-text {
        width: 100%;
    }

    /* carear section */
    .carear-container {
        flex-direction: column;
        gap: 30px;
        margin: 0;
        padding: 0 1rem;
    }
    
    .carear-discription {
        width: 100%;
    }
    
    .carear-img {
        width: 100%;
    }
    
    .carear-img img {
        width: 100%;
    }

    /* brand section */
    .brand-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0.5rem;
    }
}

/* Responsive for tablet device */
@media screen and (min-width: 576px) and (max-width: 960px) {

    /* banner related */
    .banner-container {
        flex-direction: column;
        padding: 0 10px;
    }

    /* gammer section */

    .gammer-container {
        flex-direction: column;
        padding: 0 30px;
    }

    .gammer-img {
        width: 100%;
    }

    .gammer-img img {
        width: 100%;
    }

    .gammer-discription {
        width: 100%;
    }

    .vedio-contaner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* instant section */
    .instand-download-section {
        flex-direction: column;
    }

    .instant-text {
        width: 100%;
    }

    .instant-img-area {
        width: 100%;
    }

    .instant-img {
        width: 100%;
    }

    .instant-text {
        text-align: center;
    }

    /* play-section-container */
    .play-section-container {
        flex-direction: column;
        gap: 20px;
        padding: 0 1.5rem;
    }

    .play-img {
        width: 100%;
    }

    .play-img img {
        width: 100%;
    }

    .play-text {
        width: 100%;
    }

    /* carear section */
    .carear-container {
        flex-direction: column;
        gap: 30px;
        margin: 0;
        padding: 0 1rem;
    }
    
    .carear-discription {
        width: 100%;
    }
    
    .carear-img {
        width: 100%;
    }
    
    .carear-img img {
        width: 100%;
    }

    /* brand section */
    .brand-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1rem;
    }
}