body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.discription-color{
    color: #a5a5a5;
}

.heading-1{
    font-size: 30px;
    font-weight: 600;
}

.heading-2{
    font-size: 40px;
    font-weight: 700;
}

.secondary-btn{
    margin-left: 10px;
    background-color: aqua;
    color: black;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}

.secondary-btn:hover{
    background-color: orange;
    color: white;
    transition-duration: 0.5s;
}

.primaru-btn{
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}

.primaru-btn:hover{
    background-color: aqua;
    color: black;
    transition-duration: 0.5s;
}


/* nav related style */
header{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icon img{
    width: 50px;
}

.nav-icon span{
    color: orange;
    font-size: 30px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li{
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    
}

.nav-btn{
    background-color: #c0c1c3;
    padding: 7px 10px;
    border-radius: 6px;
}

/* banner related */
.banner-section{
    max-width: 1200px;
    margin: 0 auto;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-img{
    width: 100%;
    height: 90vh;
}

/* main */
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* main */

/* gammaer section */
.gammer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 100px 0;
}

/* vedio section */
.vedio-section{
    margin: 100px 0;
}

.vedio-discription{
    text-align: center;
    margin-bottom: 70px;
}

.vedio-discription h1{
    font-size: 35px;
}

.vedio-contaner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.vedio-card img{
    width: 100%;
}



/* Responsive for mobile device */
@media screen and (max-width: 576px) {
    /* nav related */
    nav{
        flex-direction: column;
    }
    /* banner related */
    .banner-container{
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }

    .gammer-container{
        flex-direction: column;
    }
    /* vedio section */
    .vedio-contaner{
        display: flex;
        flex-direction: column;
    }
}

/* Responsive for tablet device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    /* banner related */
    .banner-container{
        flex-direction: column;
        padding: 0 10px;
    }

    .gammer-container{
        flex-direction: column;
        padding: 0 10px;
    }

    .vedio-contaner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
